[Desktop Entry]
Encoding=UTF-8
Name=Page Documentation[REQUIRED Unipi VPN]
Type=Link
URL=http://172.16.3.167:800/
Icon=text-html
Name[it_IT.UTF-8]=REST Interface [REQUIRED Unipi VPN]
